{% load static %}
{% load tailwind_filters %}

 
<nav class="bg-white border-gray-200 shadow-xl">
    <div class="flex flex-wrap justify-between items-center w-full p-4">
        <a href="{% url "invoices:base_view" %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{% static "logo.svg" %}" class="h-6 -mr-1" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-[#5417D7]">SSC Consult</span>
        </a>

        {% if user.is_superuser %}

        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a href="{% url "invoices:invoiceFormView" %}" class="text-sm  bg-teal-600 shadow-xl hover:shadow-2xl  text-white hover:text-gray-300 px-2 py-1 rounded">+ New</a>
            <a href="/admin" class="text-sm  bg-[#5417D7] shadow-xl hover:shadow-2xl  text-white hover:text-gray-300 px-2 py-1 rounded">Admin</a>
        </div>
        {% else %}
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a href="/admin" class="text-sm  bg-[#5417D7]  text-white hover:text-gray-300 px-2 py-1 rounded">login</a>
        </div>

        {% endif %}

      
    </div>
</nav>

 
